In [1]:
# UNA LISTA SE DECLARA DENTRO DE CORCHETES COMO SE PUEDE VER A CONTINUACOION
planets = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']

In [2]:
#ACCEDER A ELEMENTOS DE UNA LISTA,ESTO CON AYUDA DE UN INDICE

print('THE FIRST PLANET IS ',planets[0])
print('THE THIRD PLANTET IS ',planets[2])

THE FIRST PLANET IS  Mercury
THE THIRD PLANTET IS  Earth

In [3]:
# TAMBIEN SE PUEDE MODIFCAAR EL CONTENIDO DE UN LISTA

planets[3] ='RED PLANET'
print('Mars is also known as', planets[3])

Mars is also known as RED PLANET

In [4]:
# DETERMINAR LA LONGITUD DE LA LISTA
number_of_planets =len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

There are 8 planets in the solar system.

In [5]:
# AGREGA PLANETAS A LA LISTA 
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')

There are actually 9 planets in the solar system.

In [6]:
# ELIMINAR VALORES DE UNA LISTA
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system.')

No, there are definitely 8 planets in the solar system.

In [7]:
# INDICES NEGATIVOS , LO QUE SE HACE ES RECORRER LA LISTA DE ATRAS HACIA DELANTE.
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

In [8]:
# BUSCAR UN ELEMENTO EN LA LISTA
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')

Jupiter is the 5 planet from the sun

In [ ]:
# TRABAJAR CON NUMEROS EN LA LISTA

In [9]:
gravity_on_earth = 1.0
gravity_on_moon = 0.166

In [10]:
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

In [11]:
peso_autobus = 12650
print(f'En la tierra el autobus pesa {peso_autobus} kg')
print(f'En mercurio el autobus pesa {peso_autobus * gravity_on_planets[0]} kg')

En la tierra el autobus pesa 12650 kg
En mercurio el autobus pesa 4781.7 kg

In [12]:
# min() y max() con listas 
# la funcion max devuelve el numero mas grande de una lista
# el min devuelve el numero mas pequeño de una lista 
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

In [13]:
# MANIPULA DATOS DE UNA LISTA 
# el metodo slice sirve para obtener parte de unalista.
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

In [14]:
planets_after_earth = planets[3:8]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [15]:
# se obtienen todos los planetas despues del index proporcionado
planets_after_earth = planets[3:]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [16]:
# UNIENDO LISTAS
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [17]:
# ORDENAR LISTAS CON EL MÉTODO SORT LOS ORDENA EN ORDEN ALFABETICO
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [19]:
#ORDENA EN ORDEN ALFABETICO DE ATRAS HACIA DELANTE
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)
# EL METODO SORT MODIFICA LA LISTA ACTUAL

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']